.form-group{
    display: inline-block;
    width: 32%;
}

.icon-user{
    font-size: 30px;
}

.icon-user-bottom{
    margin-top: 8px;
    font-size: 50px;
}

.inlineB{
    display: inline-block;
}

.contFlex{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.texto-normal{
    font-weight: normal;
}
